# Entorno virtual de Python
venv/
.venv/
env/
.env

# Archivos de configuración de IDE
.vscode/
.idea/

# Dependencias de Node.js
node_modules/
npm-debug.log

# Archivos generados por el sistema
*.log
*.tmp
*.bak

# Base de datos SQLite local
*.db
*.sqlite
*.sqlite3


